@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  :root {
    --background: 202 100% 98%;
    --foreground: 201 100% 18%;
    
    --card: 195 53% 94%;
    --card-foreground: 201 100% 18%;
    
    --popover: 195 53% 94%;
    --popover-foreground: 201 100% 18%;
    
    --primary: 201 100% 36%;
    --primary-foreground: 0 0% 100%;
    
    --secondary: 189 100% 42%;
    --secondary-foreground: 0 0% 100%;
    
    --muted: 195 53% 94%;
    --muted-foreground: 201 100% 36%;
    
    --accent: 187 100% 89%;
    --accent-foreground: 201 100% 18%;
    
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    
    --border: 195 53% 84%;
    --input: 195 53% 84%;
    --ring: 201 100% 36%;
    
    --chart-1: 201 100% 36%;
    --chart-2: 189 100% 42%;
    --chart-3: 187 100% 89%;
    --chart-4: 190 77% 88%;
    --chart-5: 190 90% 94%;

    --radius: 0.5rem;
  }
  .dark {
    --background: 201 100% 18%;
    --foreground: 190 77% 88%;
    
    --card: 201 100% 22%;
    --card-foreground: 190 77% 88%;
    
    --popover: 201 100% 22%;
    --popover-foreground: 190 77% 88%;
    
    --primary: 189 100% 42%;
    --primary-foreground: 201 100% 18%;
    
    --secondary: 187 100% 42%;
    --secondary-foreground: 201 100% 18%;
    
    --muted: 201 100% 26%;
    --muted-foreground: 190 77% 88%;
    
    --accent: 201 100% 26%;
    --accent-foreground: 190 77% 88%;
    
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    
    --border: 201 100% 26%;
    --input: 201 100% 26%;
    --ring: 189 100% 42%;
    
    --chart-1: 201 100% 36%;
    --chart-2: 189 100% 42%;
    --chart-3: 187 100% 89%;
    --chart-4: 190 77% 88%;
    --chart-5: 190 90% 94%;
  }
}



@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
